#root {
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

body {
  width: 100%;
  overflow: hidden;
}

main {
  flex: 1;
}
